@model IEnumerable<Instituto.Models.Profesore>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadProfesor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadProfesor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProfesor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProfesor">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProfesor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
